net: "prototxt/{level}_{name}_train.prototxt"

test_iter: 25
test_interval: 1000

base_lr: 0.005
momentum: 0.9
weight_decay: 0.0005

lr_policy: "inv"
gamma: 0.0001
power: 0.75

#lr_policy: "step"
#gamma: 0.1
#stepsize: 50000

display: 200

max_iter: 100000

snapshot: 10000
snapshot_prefix: "model/{level}_{name}/"

test_compute_loss: true

solver_mode: {mode}
